# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**
* Python 
* R 
* Through this course I've learned how to use jupyter 
* Basic of other IDEs 
* Simple arithmetic operations 
* Jupyter and it's kernel

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. SciPy

| Data Science Tools |
|-------------------|
| Python            |
| R                |
| GitHub           |
| Jupyter          |

In [14]:
#Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
a = 4
b = 5

In [8]:
a+b

9

In [9]:
b-a

1

In [10]:
a*b

20

In [11]:
(a*b)/2

10.0

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
**Shaikat Barua**